<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IComprobantes" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://testing.facturante.com/api/Comprobantes.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComprobantes"
                contract="IComprobantes" name="BasicHttpBinding_IComprobantes" />
        </client>
    </system.serviceModel>
</configuration>